@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color-background;
  color: $text-default-color;
  font-family: $text-default-font-family;
  font-size: $text-default-font-size;
}

.container {
  margin: 30px 0 0 30px;
}

.nav {
  text-transform: uppercase;
  font-family: $text-default-font-family;
  color: $color-title;
  font-size: 0.9em;
  letter-spacing: 4.75px;
  border-radius: 12px;
  &--list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  &--li {
    display: block;
    &--link {
      padding: 15px 5px;
      margin: 15px 10px;
      display: block;
      text-decoration: none;
      color: $color-text;
      font-weight: bolder;
      border-bottom: 2px solid transparent;
    }
    &--key {
      color: $color-title;
    }
    &--link:hover {
      border-bottom-color: white;
    }
  }
}

.title,
.heading1,
.heading2,
.heading3,
.heading4,
.subheading1 {
  font-family: $text-heading-font-family;
  color: $color-title;
  text-transform: uppercase;
  margin: 0 0 17px 0;
}

.heading1 {
  font-size: 5em;
}
.heading2 {
  font-size: 4em;
}
.heading3 {
  font-size: 56px;
}
.heading4 {
  font-size: 32px;
}
.heading5,
.subheading2 {
  font-family: $text-default-font-family;
  color: white;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}
.heading5 {
  font-size: 1.3em;
  letter-spacing: 4.75px;
}
.key {
  color: $color-text;
}
.subheading1 {
  font-size: 1.3em;
}
.subheading2 {
  font-size: 1em;
  letter-spacing: 2.35px;
  color: $color-text;
}
.centered {
  text-align: center;
}
.summary,
.description {
  line-height: 2em;
}
.backimage {
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
//https://codeconvey.com/responsive-hamburger-menu-css-only/
.header {
  position: relative;
  width: 100%;
}
.logo {
  display: block;
  float: left;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  text-transform: uppercase;
  font-family: $text-default-font-family;
  color: $color-title;
  font-size: 1em;
  letter-spacing: 4.75px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.9);
  &--li {
    &--link {
      display: block;
      padding: 20px 5px;
      margin: 0 15px;
      text-decoration: none;
      color: $color-text;
      font-weight: bolder;
      border-bottom: 2px solid transparent;
    }
    &--key {
      color: $color-title;
    }
    &--link:hover {
      border-bottom-color: white;
    }
  }
  &--btn {
    display: none;
  }
  &--btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &--icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 3;
    padding: 28px 20px;
  }
}

.navicon {
  background: #fff;
  display: block;
  height: 4px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 33px;
}

.navicon:before,
.navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navicon:before {
  top: 10px;
}

.navicon:after {
  top: -10px;
}

.menu--btn:checked ~ .menu {
  max-height: none;
  padding: 5em 28px 0 0;
}

.menu--btn:checked ~ .menu--icon .navicon {
  background: transparent;
}

.menu--btn:checked ~ .menu--icon .navicon:before {
  transform: rotate(-45deg);
}

.menu--btn:checked ~ .menu--icon .navicon:after {
  transform: rotate(45deg);
}

.menu--btn:checked ~ .menu--icon:not(.steps) .navicon:before,
.menu--btn:checked ~ .menu--icon:not(.steps) .navicon:after {
  top: 0;
}

/* Responsive */
@media only screen and (max-width: $md-device) {
  .menu--li--link {
    padding: 15px;
  }
}

@media only screen and (min-width: $md-device) {
  body {
    font-size: 21px;
  }
  .title,
  .heading1,
  .heading2,
  .heading3,
  .heading4,
  .subheading1 {
    margin: 0 0 30px 0;
  }
  .heading5,
  .subheading2 {
    margin: 30px 0 10px 0;
  }
  .menu-wrapper {
    height: 55px;
    line-height: 55px;
    width: 100%;
  }

  .logo {
    line-height: 1;
  }

  .menu {
    font-size: 0.8em;
    position: relative;
    display: flex;
    top: 0;
    right: 0;
    clear: none;
    float: right;
    height: unset;
    max-height: none;
    &--icon {
      display: none;
    }
    &--li {
      float: right;
      &--link {
        padding: 0px 5px;
      }
    }
  }
}
@media screen and (min-width: $lg-device) {
  body {
    font-size: 30px;
  }
  .title,
  .heading1,
  .heading2,
  .heading3,
  .heading4,
  .subheading1 {
    margin: 0 0 50px 0;
  }
  .heading5,
  .subheading2 {
    margin: 4em 0 50px 0;
  }
  .nav-main {
    &--li {
      &--link {
        margin: 0 30px;
      }
    }
  }
  .menu {
    font-size: 0.7em;
    &--li {
      &--link {
        margin: 0 30px;
      }
    }
  }
}
