$sm-device: 375px;
$md-device: 880px;
$lg-device: 1240px;

//## Colors
$color-background: #0B0D17;
$color-secondary: #D0D6F9;

// ##Text
$text-heading-font-family: "Bellefair";
$text-default-font-size: 18px;
$text-default-font-family: "Barlow Condensed";

$color-title: #FFFFFF;
$color-text: $color-secondary;
$text-default-color: $color-text;
