<template>
  <div class="backimage"></div>
  <h2 class="heading5"><span class="key">02</span> Meet your crew</h2>
  <div class="grid">
    <div class="grid--left">
      <div class="bio">
        <div class="bio--role heading4">{{ crew.role }}</div>
        <h1 class="bio--name heading3">{{ crew.name }}</h1>
        <div class="bio--summary">{{ crew.bio }}</div>
      </div>
      <div class="nav">
        <ul class="nav--list">
          <li class="nav--li">
            <router-link to="./commander" class="nav--li--link">*</router-link>
          </li>
          <li class="nav--li">
            <router-link to="./specialist" class="nav--li--link">*</router-link>
          </li>
          <li class="nav--li">
            <router-link to="./pilot" class="nav--li--link">*</router-link>
          </li>
          <li class="nav--li">
            <router-link to="./engineer" class="nav--li--link">*</router-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid--right">
      <div class="figure">
        <img class="figure--img" :src="crew.imagePng" alt="picture" />
      </div>
    </div>
  </div>
</template>

<script>
import { fetchCrewById } from "./DaoService";
import { ref } from "@vue/reactivity";
import { onMounted, watch } from "vue";
import img0 from "@/assets/crew/image-douglas-hurley.png";
import img1 from "@/assets/crew/image-mark-shuttleworth.png";
import img2 from "@/assets/crew/image-victor-glover.png";
import img3 from "@/assets/crew/image-anousheh-ansari.png";

export default {
  name: "Crew",
  props: {
    id: {
      type: String,
      default: "commander",
    },
  },
  setup(props) {
    const images = {
      commander: img0,
      specialist: img1,
      pilot: img2,
      engineer: img3,
    };
    let crew = ref({ role: "", name: "", bio: "", imagePng: "" });
    const fetchCrew = () => {
      const info = fetchCrewById(props.id);
      crew.value.role = info.role;
      crew.value.name = info.name;
      crew.value.bio = info.bio;
      crew.value.imagePng = images[props.id];
    };
    onMounted(() => fetchCrew());
    watch(() => props.id, fetchCrew);
    return { crew };
  },
};
</script>

<style lang="scss" scoped>
.heading5 {
  text-align: center;
}
.grid {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.figure {
  text-align: center;
  &--img {
    width: 100%;
  }
}
.bio {
  padding: 0 1em;
}
.wrapper {
  margin-bottom: 0;
}
$mobile-background-image: "../assets/crew/background-crew-mobile.jpg";
$tablet-background-image: "../assets/crew/background-crew-tablet.jpg";
$desktop-background-image: "../assets/crew/background-crew-desktop.jpg";
.backimage {
  background-image: url($mobile-background-image);
}
@media screen and (min-width: $md-device) {
  .backimage {
    background-image: url($tablet-background-image);
  }
  .heading5 {
    text-align: start;
    margin-left: 2em;
    margin-right: 2em;
  }
  .bio {
    padding: 0 3em;
  }
}
@media screen and (min-width: $lg-device) {
  .backimage {
    background-image: url($desktop-background-image);
  }
  .grid {
    flex-wrap: nowrap;
    row-gap: 60px;
    text-align: start;
    &--left,
    &--right {
      padding: 0 2em;
      flex: 50%;
    }
    &--left {
      margin-bottom: 3em;
    }
  }
  .figure {
    &--img {
      width: unset;
      height: 100%;
    }
  }
  .bio {
    padding: 0;
    margin-bottom: 3em;
  }
}
</style>
