<template>
  <div class="backimage"></div>
  <h2 class="heading5"><span class="key">01</span> Pick your destination</h2>
  <div class="grid">
    <div class="grid--left">
      <div class="figure">
        <img
          class="figure--img"
          :src="destination.imagePng"
          alt="destination"
        />
      </div>
    </div>
    <div class="grid--right">
      <div class="nav">
        <ul class="nav--list">
          <li class="nav--li">
            <router-link to="./moon" class="nav--li--link">Moon</router-link>
          </li>
          <li class="nav--li">
            <router-link to="./mars" class="nav--li--link">Mars</router-link>
          </li>
          <li class="nav--li">
            <router-link to="./europa" class="nav--li--link"
              >Europa</router-link
            >
          </li>
          <li class="nav--li">
            <router-link to="./titan" class="nav--li--link">Titan</router-link>
          </li>
        </ul>
      </div>
      <h1 class="heading2">{{ destination.title }}</h1>
      <div class="summary">
        {{ destination.description }}
      </div>
      <div class="place-data">
        <div class="place-data--left">
          <span class="place-data--label subheading2">Avg. distance</span>
          <div class="place-data--data subheading1">
            {{ destination.distance }}
          </div>
        </div>
        <div class="place-data--right">
          <span class="place-data--label subheading2">Est. travel time</span>
          <div class="place-data--data subheading1">
            {{ destination.travel }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, watch } from "vue";
import { ref } from "@vue/reactivity";
import { fetchDestinationById } from "./DaoService";
//Needed to import images, otherwise I couldn't use them, cause webpack changes its names
import img0 from "@/assets/destination/image-moon.png";
import img1 from "@/assets/destination/image-mars.png";
import img2 from "@/assets/destination/image-europa.png";
import img3 from "@/assets/destination/image-titan.png";

export default {
  name: "Destination",
  props: {
    id: {
      type: String,
      default: "moon",
    },
  },
  setup(props) {
    const images = {
      moon: img0,
      mars: img1,
      europa: img2,
      titan: img3,
    };
    let destination = ref({
      title: "",
      imagePng: "",
      description: "",
      distance: "",
      travel: "",
    });

    const fetchDestination = () => {
      const info = fetchDestinationById(props.id);
      destination.value.title = info.name;
      destination.value.imagePng = images[props.id];
      destination.value.description = info.description;
      destination.value.distance = info.distance;
      destination.value.travel = info.travel;
    };

    onMounted(() => fetchDestination());
    watch(() => props.id, fetchDestination);
    return {
      destination,
    };
  },
};
</script>

<style lang="scss" scoped>
.heading5 {
  text-align: center;
}
.grid {
  margin-top: auto;
  margin-bottom: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.title {
  margin: 30px 0;
}
.summary {
  margin: 30px 1em 50px 1em;
  padding-bottom: 2em;
  border-bottom: solid 1px $color-text;
}
.place-data {
  display: flex;
  text-transform: uppercase;
  &--left,
  &--right {
    flex: 50%;
  }
}
.figure {
  text-align: center;
  padding: 2em;
  &--img {
    width: 100%;
  }
}
$mobile-background-image: "../assets/destination/background-destination-mobile.jpg";
$tablet-background-image: "../assets/destination/background-destination-tablet.jpg";
$desktop-background-image: "../assets/destination/background-destination-desktop.jpg";
.backimage {
  background-image: url($mobile-background-image);
}
@media screen and (min-width: $md-device) {
  .backimage {
    background-image: url($tablet-background-image);
  }
  .summary {
    margin: 30px 4em 50px 4em;
  }
  .heading5 {
    text-align: start;
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media screen and (min-width: $lg-device) {
  .backimage {
    background-image: url($desktop-background-image);
  }
  .grid {
    flex-wrap: nowrap;
    row-gap: 60px;
    text-align: start;
    &--left,
    &--right {
      padding: 0;
      flex: 50%;
    }
  }
  .nav--list {
    justify-content: flex-start;
  }
  .figure {
    &--img {
      width: unset;
      height: 100%;
    }
  }
  .summary {
    margin: 30px 3em 50px 0;
    padding-bottom: 3em;
  }
}
</style>
