<template>
  <div id="home">
    <div class="container">
      <div class="menu-wrapper">
        <header class="header">
          <div class="logo">
            <img src="../assets/shared/logo.svg" alt="*" />
          </div>
          <input class="menu--btn" type="checkbox" id="menu-btn" />
          <label class="menu--icon" for="menu-btn"
            ><span class="navicon"></span
          ></label>
          <ul class="menu">
            <li class="menu--li">
              <router-link to="/space" class="menu--li--link"
                ><span class="menu--li--key">00</span> Home</router-link
              >
            </li>
            <li class="menu--li">
              <router-link to="/destination/moon" class="menu--li--link"
                ><span class="menu--li--key">01</span> Destination</router-link
              >
            </li>
            <li class="menu--li">
              <router-link to="/crew/commander" class="menu--li--link"
                ><span class="menu--li--key">02</span> Crew</router-link
              >
            </li>
            <li class="menu--li">
              <router-link to="/technology/vehicle" class="menu--li--link"
                ><span class="menu--li--key">03</span> Technology</router-link
              >
            </li>
          </ul>
        </header>
      </div>
    </div>
    <div class="wrapper"><router-view /></div>
  </div>
</template>

<script>
export default {
  name: "Home",
  setup() {},
};
</script>

<style lang="scss">
#home {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
</style>
