<template>
  <div class="backimage"></div>
  <div class="grid">
    <div class="grid--left">
      <h2 class="heading5">So, you want to travel to</h2>
      <h1 class="heading1">Space</h1>
      <div class="summary">
        Let’s face it; if you want to go to space, you might as well genuinely
        go to outer space and not hover kind of on the edge of it. Well sit
        back, and relax because we’ll give you a truly out of this world
        experience!
      </div>
    </div>
    <div class="grid--right">
      <a href="#" class="btn-big">EXPLORE</a>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.grid {
  margin-bottom: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 60px;
  &--left {
    padding: 4em 4em 0 4em;
  }
  &--right {
    display: flex;
    justify-content: center;
  }
}

.btn-big {
  background-color: $color-title;
  color: $color-background;
  text-decoration: none;
  height: 9em;
  width: 9em;
  display: block;
  border-radius: 50%;
  font-weight: bolder;
  margin-bottom: 30px;
  font-family: $text-heading-font-family;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

$mobile-background-image: "../assets/home/background-home-mobile.jpg";
$tablet-background-image: "../assets/home/background-home-tablet.jpg";
$desktop-background-image: "../assets/home/background-home-desktop.jpg";
.backimage {
  background-image: url($mobile-background-image);
}
@media screen and (min-width: $md-device) {
  .backimage {
    background-image: url($tablet-background-image);
  }
  .heading5 {
    margin: 30px 0;
  }
}
@media screen and (min-width: $lg-device) {
  .backimage {
    background-image: url($desktop-background-image);
  }
  .grid {
    margin-top: auto;
    flex-wrap: nowrap;
    &--left,
    &--right {
      flex: 50%;
    }
  }
  .btn-big {
    margin-top: auto;
  }
}
</style>
