<template>
  <div class="backimage"></div>
  <h2 class="heading5"><span class="key">03</span> Space launch 101</h2>
  <div class="grid">
    <div class="grid--left">
      <div class="grid-hor">
        <div class="nav">
          <ul class="nav--list">
            <li class="nav--li">
              <router-link
                to="./vehicle"
                class="nav--li--link"
                :class="{ active: technology.id === 'vehicle' }"
                >1</router-link
              >
            </li>
            <li class="nav--li">
              <router-link
                to="./spaceport"
                class="nav--li--link"
                :class="{ active: technology.id === 'spaceport' }"
                >2</router-link
              >
            </li>
            <li class="nav--li">
              <router-link
                to="./capsule"
                class="nav--li--link"
                :class="{ active: technology.id === 'capsule' }"
                >3</router-link
              >
            </li>
          </ul>
        </div>
        <div class="hor-margin">
          <h2 class="subheading1">The terminology...</h2>
          <h1 class="heading2">{{ technology.name }}</h1>
          <div class="summary">
            {{ technology.description }}
          </div>
        </div>
      </div>
    </div>
    <div class="grid--right">
      <img
        v-if="windowHeight < 880"
        :src="technology.landscapeImage"
        alt="vehicle"
        class="tech-img"
      />
      <img
        v-else
        :src="technology.portraitImage"
        alt="vehicle"
        class="tech-img"
      />
    </div>
  </div>
</template>

<script>
import { onMounted, onUnmounted, watch } from "vue";
import { ref } from "@vue/reactivity";
import { fetchTechnologyById } from "./DaoService";
import img0 from "@/assets/technology/image-launch-vehicle-portrait.jpg";
import img1 from "@/assets/technology/image-spaceport-portrait.jpg";
import img2 from "@/assets/technology/image-space-capsule-portrait.jpg";
import img3 from "@/assets/technology/image-launch-vehicle-landscape.jpg";
import img4 from "@/assets/technology/image-spaceport-landscape.jpg";
import img5 from "@/assets/technology/image-space-capsule-landscape.jpg";

export default {
  name: "Technology",
  props: {
    id: {
      type: String,
      default: "vehicle",
    },
  },
  setup(props) {
    const images = {
      portrait: { vehicle: img0, spaceport: img1, capsule: img2 },
      landscape: { vehicle: img3, spaceport: img4, capsule: img5 },
    };

    let technology = ref({
      id: "",
      name: "",
      portraitImage: "",
      landscapeImage: "",
      description: "",
    });

    const fetchTechnology = () => {
      const info = fetchTechnologyById(props.id);
      technology.value.id = props.id;
      technology.value.name = info.name;
      technology.value.portraitImage = images.portrait[props.id];
      technology.value.landscapeImage = images.landscape[props.id];
      technology.value.description = info.description;
    };    

    onMounted(() => fetchTechnology());
    watch(() => props.id, fetchTechnology);

    let windowHeight = ref(window.innerHeight);
    const onResize = () => (windowHeight.value = window.innerHeight);
    onMounted(() => window.addEventListener("resize", onResize));
    onUnmounted(() => window.removeEventListener("resize", onResize));

    return {
      technology,
      windowHeight,
    };
  },
};
</script>

<style lang="scss" scoped>
.heading5 {
  text-align: center;
  margin: 1em;
}
.hor-margin {
  margin: 1em;
}
.grid {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  &--left {
    text-align: center;
  }
}
.grid-hor {
  display: flex;
  flex-direction: column;
}
.nav {
  &--list {
    flex-direction: row;
  }
  &--li {
    text-align: center;
    &--link {
      font-size: 18px;
      line-height: 18px;
      height: 1em;
      width: 1em;
      padding: 1em;
      margin: 1em;
      color: $color-title;
      border-radius: 50%;
      border: 2px solid $color-title;
    }
    &--link:hover,
    &--link:active, .active {
      background-color: $color-title;
      color: $color-background;
    }
  }
}
.tech-img {
  width: 100%;
  height: 170px;
  object-fit: none;
  object-position: center 85%;
}

.summary {
  line-height: 2em;
}
$mobile-background-image: "../assets/technology/background-technology-mobile.jpg";
$tablet-background-image: "../assets/technology/background-technology-tablet.jpg";
$desktop-background-image: "../assets/technology/background-technology-desktop.jpg";
.backimage {
  background-image: url($mobile-background-image);
}
@media screen and (min-width: $md-device) {
  .backimage {
    background-image: url($tablet-background-image);
  }
  .grid {
    margin: 4em 0 2em 0;
  }
  .tech-img {
    width: 100%;
    height: 310px;
    object-fit: cover;
  }
  .heading5 {
    text-align: start;
    margin: 2em;
  }
  .nav {
    margin: 1em;
  }
  .hor-margin {
    margin: 2em;
  }
}
@media screen and (min-width: $lg-device) {
  .backimage {
    background-image: url($desktop-background-image);
  }
  .hor-margin {
    margin: 1em;
    margin-right: 1em;
  }
  .grid {
    flex-direction: row;
    row-gap: 2em;
    &--left {
      text-align: start;
      flex: 50%;
    }
    &--right {
      flex: 30%;
      text-align: right;
    }
  }
  .grid-hor {
    flex-direction: row;
  }
  .tech-img {
    width: unset;
    object-fit: unset;
    height: 100%;
  }
  .nav {
    margin-left: 2em;
    &--list {
      flex-direction: column;
    }
  }
}
</style>
